@import "../../assets/variables.scss";

.login {
  background-color: white;
  height: $base-sizing * 100;
  width: $base-sizing * 100;

  border: 1px solid $border-color;

  > .login-inner {
    margin: $base-sizing * 10;
    height: calc(100% - #{$base-sizing * 20});
    width: calc(100% - #{$base-sizing * 20});

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    > div {
      > h1 {
        color: $text-dark;
        font-weight: 600;
        font-size: $h1-size;
        margin-bottom: $base-sizing;
      }

      > p {
        margin-top: $base-sizing;
        font-size: $paragraph-size;
      }
    }

    > button {
      margin-top: $base-sizing * 2;
      background-color: $white;
      padding: $base-sizing * 3 $base-sizing * 9;
      border: 1px solid $border-color;
      border-radius: $base-sizing;
      font-family: inherit;
      font-size: $button-text-size;
      cursor: pointer;
      &:hover {
        background-color: $bg-off-white;
      }
      &:focus-visible {
        outline: none;
        border: 1px solid $primary-color;
      }
    }
  }
}

.app-logo {
  height: $base-sizing * 7;
  pointer-events: none;
}
