// colors
$white: #ffffff;
$bg-off-white: #fafafa;
$border-color: #e7e7e7;
$text-light: #b2afb1;
$text-dark: #4c494b;
$primary-color: #30af5f;
$secondary-color: #36a9e0;

// sizes
$h1-size: 30px;
$paragraph-size: 15px;
$button-text-size: 15px;
$checkbox-size: 12.5px;
$base-sizing: 5px;
