@import "../../assets/variables.scss";

.input {
  width: 100%;

  > label {
    color: $text-dark;
  }

  > input {
    border-radius: $border-radius;
    border-color: $border-color;
    height: $default-spacing * 7;

    border: 1px solid $border-color;

    &:focus-visible {
      outline: none;
      border: 1px solid $active-border-color;
    }
  }
}

.email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  > input {
    width: 100%;
  }
  > label {
    margin-bottom: $default-spacing * 2;
  }
}

.checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;

  > input {
    margin: 0;
    width: $default-spacing * 4;
    height: $default-spacing * 4;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    box-shadow: none;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1em;
  }

  input:checked {
    background-color: #36a9e0;
  }

  > input:checked:after {
    content: "✔";
    color: white;
  }

  > label {
    margin-left: $default-spacing * 2;
  }
}
